[submodule "Libs/flib_ui"]
	path = Libs/flib_ui
	url = https://github.com/EEdle506/flib_ui.git
[submodule "Libs/flib_client"]
	path = Libs/flib_client
	url = https://github.com/EEdle506/flib_client.git
